* {
	border:0;
	padding: 0px;
	margin: 0px;
}

body {
	margin: 26px 20px 48px;
	font-family:'Roboto',Roboto Lt;
}

header title{
	margin-left: 2px;
}
header span {
	margin-left: 12px;
	font-weight: 700;
	font-size: 18px;
	color: #3C3C3C;
}
